{% extends 'id_management/base.html' %}
{% block title %} Homepage {% endblock title %}
{% block body %}
<h2 style="text-align: center;">Need An ID Card Its Simple Just SignUp And Get One</h2>
<p style="text-align: center;">Identify Yourself Anywhere Anytime And AnyPlace. Because We Got You Covered</p>
<br>
<hr>
<br>

<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="http://media.salon.com/2015/12/justin-bieber-adult-male-fans.jpeg.jpg" alt="...">
	      <div class="caption">
	        <h3>Justin Bieber</h3>
	        <p>Hello Am Justin Thanks To ID Catch That Gave Access To Identification Anywhere, AnyPlace And Anytime. They Got You Covered, Register Now And Share Your Testimony</p>
	      </div>
	    </div>
	  </div>



	</div>
</div>

{% endblock body %}